@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

$backgroundColor: #efefef;
$radius: 40%;
$fontFamily: 'Raleway', sans-serif;


form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;
    

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgb(204, 204, 204);
        font-family: $fontFamily;

        &:hover, &.active {
          background: rgb(255, 255, 255);
        }
      }
    }
  }
}
